<%- include('partials/header'); -%>
<div class="about">
  <h1>About the website</h1>
  <p>
    This is a movie score application.Visitors can search a movie and add their
    score to it.Visitors can also see movies that have users scores as well as
    their IMDB score.
  </p>
</div>
<%- include('partials/footer')-%>
